body {
    font-family: 'Archivo';
    font-size: 18px;
    color: white;
}

#hero{
    background: url(../img/visuel-main.jpg) no-repeat fixed;
    background-size: cover;
    background-attachment:fixed;

}

header{
    display: flex;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;
}

.menu ul li{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 30px;
}

a {
    text-decoration: none;
    color : white;

}

.promo {
    text-align: justify;
    margin-left: 115px;
    display: block;
    max-width: 35%;
    margin-top: 150px;
}

.promo h1 {
    font-size: 83px;
}

.promo a{
    text-decoration: none;
    font-family: 'Poppins';
    text-align: center;
    font-size: 20px;
    background: rgb(196, 80, 51);
    border-radius: 25px;
    display: block;
    max-width: 203px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 10%;

}

a:hover.ketchup
{
    color:red;
}

a:hover.mayo
{
    color:rgb(232, 235, 49);
}

#hero2 {
background: url(../img/bg-pictos_1.jpg) no-repeat;
    background-size: cover; 
    padding-top: 50px;
    padding-bottom: 200px;
    
}
.ourchef {
    color: rgb(219, 69, 32);
    text-align: center;
    width: 50%;
    margin : 0 auto;
}

.people{
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: row;
    color : rgb(219, 69, 32);
    justify-content: space-evenly;  
}

.burger{
    background-color: rgb(219, 82, 58);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 50px;
    margin: 0;

}

.texteburger{
    width: 600px;
    margin-top: 120px;
    font-size: 25px;
}


.texteburger h2{
    margin: 0;
}

.imageburger {
    margin-top: 50px;
    margin-bottom: 50px;
}

.texteburger a{
    text-decoration: none;
    font-family: 'Poppins';
    text-align: center;
    font-size: 20px;
    color: rgb(219, 82, 58);
    background: rgb(255, 255, 255);
    border-radius: 25px;
    display: block;
    max-width: 203px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.titre{
    max-width: 450px;
}
footer {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    text-align: justify;
    block-size: 500px;;
}

ul{
    list-style: none;
}

.about, .services, .other, .titre {
    line-height: 1.85;
    margin-top: 7%;
}

@media screen and (max-width: 700px) {
    ul, .people, .burger {
        display: flex;
        flex-flow: wrap column;
        justify-content: space-between;
    }

}